<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Directory</title>
    </head>
    <body>
        <div class="avatar">

        </div>
        <div class="name">

        </div>
        <div class="job">{{#haveJob}}
            <p> {{theirJob}} </p>
            {{/haveJob}}
            {{^haveJob}}
            <p id="available">Available for hire</p>
            {{/haveJob}}
        </div>

    </body>
</html>
