{{#users}}



<div class="userInfo">
    <div class="avatar">
        <img src="{{avatar}}" alt="avatar">
    </div>
    <h1>{{name}}</h1>
    <section> <p>{{#address.city}}{{.}}{{/address.city}}{{^address.city}} Unknown City {{/address.city}},</p> <a href="/{{address.country}}"><p>{{address.country}} </p> </a>
        {{#job}}
        {{job}}, {{company}}
        {{/job}}
        {{^job}}
        <p id=redAvailable>Available for hire</p>
        {{/job}}</section>
        <a href="/listing/{{id}}">
            <p>{{name}}'s Profile!</p>
        </a>
        <p id="table">

            {{#education}}

            <strong>Education</strong>
            {{university}}

            {{/education}}



            <strong>Skills</strong>
            {{skills}}  <!-- not sure what this should be since skills is an array -->
        </p>
    </div>


    {{/users}}
