<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>User Directory</h1>
    <div class="results">
        {{{yield}}}
    </div>
</body>
</html>
