<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="./app.css">
</head>
<body>
    <nav>
        <a href="/">User Directory Home</a>
        <a href="/looking">Robots Seeking New Roles</a>
        <a href="/employed">Employed Bots</a>
    </nav>

    <h1>User Directory</h1>



    <div class="results">
        {{{yield}}}

    </div>
</body>
</html>
