<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="./app.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Open+Sans" rel="stylesheet">

<body>
    <header class="siteHeader">
        <!-- <a href="/"><img src="https://cdn.dribbble.com/users/68544/screenshots/2383361/robot-pro.png" alt=""></a> -->

        <nav>
            <a class="navOption" href="/">User Directory Home</a>
            <a class="navOption" href="/looking">Robots Seeking New Roles</a>
            <a class="navOption" href="/employed">Employed Bots</a>
            <a class="navOption" href="/signup">Sign Up</a>
            <a class="navOption" href="/login">Log In</a>
            <a class="navOption" href="/logout">Logout</a>

        </nav>
    </header>
    </head>

    <h2> <a href="/"><img src="https://cdn.dribbble.com/users/68544/screenshots/2383361/robot-pro.png" alt=""></a> RoboLink Directory</h2>



    <div class="results">
        {{{yield}}}

    </div>
</body>
</html>
