{{#users}}



<div class="userInfo">
    <a href="/listing/{{id}}">
        <div class="avatar">
            <img src="{{avatar}}" alt="avatar">
        </div>

        <h1>{{name}}</h1>
        <section>

            <div class="addressLine">
                <p id="city">{{#address.city}}{{.}}{{/address.city}}{{^address.city}} Unknown City{{/address.city}}</p>
                <p id="country"><a href="/listing/{{address.country}}">{{address.country}}</a></p>
            </div>
            {{#job}}
            {{job}}, {{company}}
            {{/job}}
            {{^job}}
            <p id=redAvailable>Available for hire</p>
            {{/job}}</section>

            <p id= "profileLink">View {{name}}'s' Profile</p>

            <p id="table">

                {{#education}}

                <strong>Education</strong>
                {{university}}

                {{/education}}



                <strong>Skills</strong>
                {{skills}}  <!-- not sure what this should be since skills is an array -->
            </p>
        </a>
    </div>


    {{/users}}
