<div class="listingLink" href="/listing/{{id}}">
    <div class="listing">
        <img class="listingAvatar" src="{{avatar}}" alt="avatar">

        <p class="name">{{name}}</p>

        {{#job}}
            <p> {{.}}, {{company}}  </p>
                {{/job}}
                {{^job}}
            <p class="available"> Available for hire</p>
                {{/job}}
    </div>
</div>
