




<form class="signupForm" action="/signup" method="post">
    <p>Sign up for RoboLink!</p>
    <p>Choose a Username and Password for Your RoboProfile</p>
  <input type="text" name="username" value="" placeholder="Username"> <br>

  <input type="password" name="password" value="" placeholder="Password"> <br>
  <p>Tell Us More About Yourself</p>

  <input type="text" name="name" value="" placeholder="First and Last Name"> <br>
  <input type="text" name="avatar" value="" placeholder="Enter Avatar URL"> <br>
  <input type="text" name="email" value="" placeholder="Email"> <br>

  <p>Education and Work Info</p>

  <input type="text" name="university" value="" placeholder="University"> <br>
  <input type="text" name="job" value="" placeholder="Job"> <br>
  <input type="text" name="company" value="" placeholder="Company"> <br>
  <input type="text" name="skills" value="" placeholder="Skills"> <br>

  <p>Contact Information</p>
  <input type="text" name="phone" value="" placeholder="Phone"> <br>
 <p>address</p>
  <input type="text" name="streetNum" value="" placeholder="Street Number"> <br>
  <input type="text" name="streetName" value="" placeholder="Street Name"> <br>
  <input type="text" name="city" value="" placeholder="City"> <br>
  <input type="text" name="stateProvince" value="" placeholder="State or Province"> <br>
  <input type="text" name="postalCode" value="" placeholder="Postal Code"> <br>
  <input type="text" name="country" value="" placeholder="Country"> <br>
  <button type="submit" name="button">Signup</button>
</form>
