<!DOCTYPE html>
<html>
{{#users}}
    <head>
        <meta charset="utf-8">
        <title> {{name}}'s Profile</title>
        <link rel="stylesheet" href="/public/styles.css">
    </head>
    <body>
        <tr>
            <td> <strong>Education</strong></td>
            <td>{{university}}</td>
        </tr>
        <tr>
            <td> <strong>Skills</strong></td>
            <td>{{skills.length}}</td>  <!-- not sure what this should be since skills is an array -->
        </tr>

    </body>
{{/users}}
</html>
