/** {
    border: 2px solid red;
}*/

body {
    /*display:flex;
    justify-content: center;
    /*background: blue;*/*/
}


h1 {
    text-align: center;
}

/*.results {

    display: flex;

}*/




.listingAvatar {
    border: 2px dotted lightgray;
    /*border: black;*/
    border-radius: 50%;
}


.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*width: 40%;*/
    border: 1px solid green;
    justify-content: space-around;
    word-wrap: normal;

}

a {
    display: flex;
    border: 1px solid magenta;
    border-radius: 2px;
    width: 40px:
    /*padding: 5%;*/
    margin: 5%;
    flex-basis: 1 1 15%;
    word-wrap: normal;
}


img {
    display: flex;
    justify-content: center;

}

.userInfo {
    border: solid;
    border-color: green;
    width: 200px;
    height: 500px;
    word-wrap: normal;

    /*flex-basis: 1 20%;*/

}

#table {
    word-wrap: break-word;
}

.listingLink{
    flex-basis: 1 20%;
}
/*
.avatar {
    border-color: green. ;
    border: solid;
    border-radius: 50%;
}*/
