/** {
    border: 2px solid red;
}*/
html {
    background-color: #deeff7;

}
header {
    background-color: #0984c1;
    height: 85px;
    width: 120%;
    padding: 4%;
    /*padding-left: 17%;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*flex-direction: row;*/

}


 nav a {
    color: white;
    border: solid;
    border-color: white;
    border-width: thin;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    margin: 3%;
    border-radius: 5px;
}


 nav a:hover {
     color: white;
     background-color: #34AFEC;
 }
/*nav a{
    color: white;
    border: solid;
    border-color: white;
    border-width: thin;
    padding: 2%;
    margin: 3%;
    border-radius: 5px;
    width: 25%
}*/


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    font-weight: lighter;
    /*display:flex;
    justify-content: center;
    /*background: blue;*/

}


h1 {
     font-size: 20px;
     text-align: center;
}

h2 {

    font-size: 60px;
    text-align: center;
    color: #0984c1;
    padding-top: 0;
    padding-bottom: 0;
    /*font-style: italic;*/
}


.listingAvatar {
    border: 2px dotted lightgray;
    /*border: black;*/
    border-radius: 50%;
}


.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*width: 40%;*/
    /*border: 1px solid green;*/
    justify-content: space-around;
    word-wrap: normal;
    align-items: center;

}


a{
    text-decoration: none;
}

/*a {
    display: flex;
    /*border: 1px solid magenta;*/
    /*border-radius: 2px;*/
    /*width: 40px:*/
    /*padding: 5%;*/
    /*margin: 5%;*/
    /*flex-basis: 1 1 15%;*/
    /*word-wrap: normal;*/
/*}*/

a img {
padding: 4%;
margin:0%;
align-self: flex-start;
height: 50px;
width: 50px;
}

#redAvailable{
    color: #9e060d;
}


img {
    height: 150px;
    width: 150px;
    align-self: center;
    margin-left: 14%;
    border: none;
    border-radius: 50%;
    background-color: white;
    /*padding-left: 10%;*/

}

#profileLink {
    border: none;
    border-radius: 6px;
    background-color: white;
    color: #CDECFB;

}

#profileLink:hover {
    background-color: ##357391;
    color: white;
}

.avatar {
    display: flex;
    /*justify-content: center;*/
    align-self: center;
    width: 20px;

}

.userInfo {
    /*display: flex;*/
    border: solid;
    border-color: darkgray;
    border-width: thin;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    word-wrap: normal;
    padding: 2%;
    margin:1%;
    background-color: #34AFEC;
    /*align-content: center;*/

}

.userInfo:hover {
    background-color: #0984c1;
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
    color: white;
}


#table {
    word-wrap: break-word;
}

.listingLink{
    flex-basis: 1 20%;
}
/*
.avatar {
    border-color: green. ;
    border: solid;
    border-radius: 50%;
}*/
